<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to phoenix</title>
	<style>
		/******** base style *****/
		
		h1{
			margin-bottom: 15px;
			text-align: center;
			margin-left: : 50px;
			padding-left: 50px;
		}
		.row {

  		display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
	
}
	</style>
</head>
<body>
	<br><br><br><br><br>
	<h1>Welcome To Phoenix</h1>
	<br>
	<br>
	<br>
	<div class="row" style="align-content: center;">
	<button type="button" class="btn" 
		style="margin:30px; padding: 60px 60px; font-size: 30px">
	<div class="col-lg-4">学生</div>
	</button>
	
	<button type="button" class="btn btn" 
		style="margin:30px; padding: 60px 60px; font-size: 30px">
	<div class="col-lg-4">企業</div>
	</button>
	
	<button type="button" class="btn" 
		style="margin:30px; padding: 60px 60px; font-size: 30px">
	<div class="col-lg-4">JOB</div>
	</button>
	</div>

	<div class="row" style="align-content: center;">
	
	<button type="button" class="btn" 
		style="margin:30px; padding: 60px 60px; font-size: 30px"><div class="col-lg-6">担当者</div>
	</button>
	
	<button type="button" class="btn" 
		style="margin:30px; padding: 60px 60px; font-size: 30px">
	<div class="col-lg-6">売り上げ</div>
	</button>
	</div>

</body>
</html>